<div class="col-md-12">
  <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
    <div id=mv class="col p-4 d-flex flex-column position-static">
      <strong class="d-inline-block mb-2 text-primary">Nuestra MISIÓN</strong>
      <p class="card-text mb-auto" style="text-align:justify">
        Queremos que "MINIMARKET Santa Lucía" en el 2020 sea una de las empresas líder en el mercado online. Vamos a desarrollar un canal fuerte de ventas por medio de nuestra Tienda Virtual, con los mejores productos, en la que encontrarás nuestro
        apoyo y la solución, de una manera fácil, cómoda y segura, buscando constantemente nuevas alternativas, basados en el conocimiento profundo de las necesidades de nuestra distinguida clientela.
      </p>
    </div>

  </div>
</div>

<br>
<div class="col-md-12">
  <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
    <div id=mv class="col p-4 d-flex flex-column position-static">
      <strong class="d-inline-block mb-2 text-success">Nuestra VISIÓN</strong>
      <p class="mb-auto" style="text-align:justify">
        Tienda "MINIMARKET Santa Lucía"a busca satisfacer las necesidades de compra que tenemos todos, a través de bienes de excelencia, originalidad y calidad. Nuestro modelo de negocio se basa en procesos de comercio electrónico, seguros y
        eficientes. Contamos con un equipo de trabajo altamente capacitado, con la mejor aptitud de servicio, sentido de la responsabilidad y ética, que busca dar un buen servicio y de calidad en el mejor tiempo posible. La innovación constante nos
        permite llegar al cliente con eficiencia.
      </p>
    </div>

  </div>
</div>
