.colo{
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
  }
.image{
    width: 100%;
    height: 300px;
    overflow: hidden;
  }
  .colo img{
    width: 100%;
  }
