<section id="productos">
  <div class="container">
    <ul>
      <li *ngFor="let producto of productos" class="pastel">
        <div class="image">
          <img src="{{producto.color}}"/>
        </div>
        <h3 routerLink="/producto/{{producto.id}}" class="card-title">{{producto.tipo}}</h3>
        <p>{{producto.marca}}</p>
        <p>Precio: {{producto.precio}} USD</p>
        <button type="button">
          <span routerLink= "/producto/{{producto.id}}">Añadir al carrito</span>
        </button>
      </li>
    </ul>
  </div>
</section>
