.container{
  margin: 0px auto;
  margin-bottom: 20px;
  font-size: 23px;
}
.pastel{
  list-style: none;
  display: block;
  float: left;
  width: 28%;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
}
.image{
  width: 100%;
  height: 300px;
  overflow: hidden;
}
.pastel img{
  width: 100%;
}
 .pastel a{
  text-decoration: none;
  color: black;
}
.confirm{
  display: block;
  font-weight: bold;
  margin-top: 20px;
}


